body {
  padding: 0.8rem;
}
:root {
  --form-element-spacing-vertical: 0.25rem;
  --form-element-spacing-horizontal: 0.25rem;
}
span {
  display: inline-block;
  margin-right: 0.5rem;
}

:root {
  --primary: #00acc1;
}

.grid.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.grid.three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.grid.one-two {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1rem;
}

.right-align {
  text-align: right;
}
.left-align {
  text-align: left;
}
